{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">

		<!-- SLIDER -->
		{% if slider_images|length > 0 %}
			<div class="swiper-container">
				<div class="swiper-wrapper">
					{% for slider_image in slider_images %}
						<div class="swiper-slide">
							<div class="slider-image" style="background-image: url('{{ slider_image.src|resize(1200) }}');">
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="swiper-pagination"></div>
			</div>
		{% endif %}

		<header class="header" >
			{% block header %}
					<nav id="nav-main" class="nav-main row column" role="navigation">
						{% include "menu.twig" with {'menu': menu.get_items} %}
					</nav>
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer" class="row column">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
