{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content row">
				<div class="sidebar column medium-3 medium-offset-1">
					<img src="{{ theme.link }}/static/dist/img/agrafka-logo.svg" alt="AgRafka Film logo" class="logo">
				</div>
				<div class="column medium-7 large-6">
					<div class="article-body">
						{{ post.content }}
						{% if post.slug  == 'kontakt' %}
							<div class="facebook-link">
								<a href="https://www.facebook.com/agrafkafilm">
									<img src="{{ theme.link }}/static/dist/img/icon-facebook.svg" alt="Facebook Icon">
									<span>facebook.com/agrafkafilm</span>
								</a>
							</div>
						{% endif %}
					</div>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}